/* подключение scss файлов блоков, общих для всех страниц */
body {
  font-family: 'Raleway', Arial, sans-serif !important;
  font-style: normal !important;
}

.container {
  min-width: 1440px;
}

.title {
  padding: 50px 0;
  padding-bottom: 38px;
}

.title h1{
  padding: 0 60px;
  font-family: 'Playfair Display', Times, serif;
  font-size: 35px;
  font-weight: 900;
  line-height: 47px;
}

.navigation-header {
  padding: 4px 0;
  padding-bottom: 47px;
}

.navigation-header .row {
  width: 1170px;
}

.navigation-header .nav-link {
  color: $text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.carousel-control-next, .carousel-control-prev {
  top: 8em !important;
  text-decoration: none;
}

.carousel-control-prev {
  left: 160px !important;
}

.carousel-control-next {
  right: 160px !important;
}

.carousel-caption h5{
  width: 500px;
  margin: auto;
  font-weight: 300;
  font-size: 72px;
  line-height: 85px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.carousel-caption p{
  width: 440px;
  margin: auto;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
}

.promo {
  margin-bottom: 100px;
}

.content-block {
  max-width: 1170px;
  margin: 0 auto !important;
}

.content-block h2 {
  margin-bottom: -2px;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.news .row {
  padding-bottom: 17px;
}

.news-link {
  text-decoration: none;
  color: #000;

  &:hover {
    color: #000;
  }
}

.news img {
  max-width: 100%;
  height: auto;
}

.news .card {
  border: none;
  border-radius: 0px;
}

.news .card-img {
  border-radius: 0px;
}

.news .card-img-overlay {
  top: 195px;
}

.news-top .card-title {
  font-size: 20px !important;
  line-height: 27px !important;

  &:hover {
    color: #ff7931;
  }
}

.news-top .card-text {
  font-size: 14px;
  line-height: 150%;
}

.news .card-title{
  margin-top: -5px;
  font-family: 'Playfair Display',  Times, serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 19px;

  &:hover {
    color: #ff7931;
  }
}

.news .card-text {
  font-size: 10px;
  line-height: 150%;
}

.banner .card {
  width: 100%;
  height: 100%;
  max-height: 479px;
  position: relative;
  border: none;
  border-radius: 0;
  margin-bottom: 2rem;
  overflow: hidden;

    &:nth-child(1) {
      background: no-repeat url('../img/drew-colins-1114440-unsplash.png');
    }

    &:nth-child(2) {
      background: no-repeat url('../img/jeremy-bishop-1114290-unsplash.png');
    }

    &:nth-child(3) {
      background: no-repeat url('../img/bogdan-pasca-1114196-unsplash.png');
    }
}

.banner .card-title {
  width: 200px;
  margin:0 auto;
}

.banner .btn {
  position: absolute;
  content: '';
  top: 350px;
  left: 130px;
  border: solid $main-color 2px;
  border-radius: 0;
  background: transparent;

  &:hover {
    background: $main-color;
    border: solid $main-color 2px;
  }

  &:active {
    background: $main-color;
    border-color: $main-color;
    outline: none;
  }

  &:focus {
    background: $main-color;
    border-color: $main-color;
    box-shadow: none;
    outline: solid #fff 1px;
  }

  &.contrast {
    background-color: $main-color;

    &:hover {
      background-color: transparent;
    }
  }
}

.banner .card-title {
  font-family: 'Playfair Display',  Times, serif;
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;

  &.contrast {
    color: #000;
  }
}

.review {
  max-width: 1170px;
  margin: 0 auto !important;
}

.review .row {
  padding-bottom: 17px;
}

.review .card {
  border: none;
  border-radius: 0;
  margin-bottom: 37px;
}

.review-link {
text-decoration: none;
color: #000;

&:hover {
  color: #000;
}
}

.review .card img {
  border-radius: 0;
}

.review h5 {
  margin-bottom: -2px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
}

.review .card-title {
  margin-top: -5px;
  margin: 20px 0 11px 0;
  font-family: 'Playfair Display',  Times, serif;
  font-weight: 900;
  font-size: 23px;
  line-height: 31px;

  &:hover {
    color: #ff7931;
  }
}

.review .card-text {
  font-size: 14px;
  line-height: 150%;
}

.page-item .page-link {
  border: none;
}

.pagination .page-link {
  font-family: 'Proxima Nova', Arial, sans-serif;
  font-size: 14px;
  line-height: 17px;
  opacity: 0.4;
  color: #000;

    &:hover {
      background-color: #fff;
    }
}

.pagination .page-item.active .page-link {
  position: relative;
  color: #000;
  background-color: #fff;
  opacity: 1;

    &:hover
    &:focus {
      outline: #ff7931;
      background-color: #fff;
    }
}

.review-banner .card {
  background: url('/img/balet.png') no-repeat;
  padding: 12px;
}

.review-banner .card-title {
  font-family: 'Raleway', Arial, sans-serif;
  @include clear-indents;
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;

  &:hover {
    color: #fff;
  }
}

.review-banner .btn {
  margin-left: -125px;
  border: solid #ff7931 2px;
  border-radius: 0;
  background: 0 0;

    &:hover {
      background: $main-color;
      border: solid $main-color 2px;
    }

    &:active {
      background: $main-color;
      border-color: $main-color;
      outline: none;
    }

    &:focus {
      background: $main-color;
      border-color: $main-color;
      box-shadow: none;
      outline: solid #fff 1px;
    }

    &.contrast {
      background-color: $main-color;

      &:hover {
        background-color: transparent;
      }
    }
}

.footer {
  padding-bottom: 20px;
  background-color: #F7F7F7;
}

.title-footer {
  padding: 26px 0 32px;
  padding-bottom: 38px;

}

.title-footer h2 {
  padding: 0 26px 0 32px;
  font-family: 'Playfair Display', Times, serif;
  font-size: 28px;
  font-weight: 900;
  line-height: 37px;
}

.navigation-footer {
  width: 1170px;
  margin: 0 auto;
  padding: 4px 0;
  margin-bottom: 46px;
}

.navigation-footer .nav {
  width: 1170px;
  justify-content: space-between;
}

.navigation-footer .nav-link {
  color: $text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.footer-line {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 1px;
  background: #000;
  opacity: 0.4;
}

.copyright {
  width: 1170px;
  margin: 0 auto;
  font-size: 10px;
  line-height: 15px;
  text-align: end;
}

