/* Цвета */

$main-color: #68b738;
$header-text: #111111;
$desc-text: #444444;
$alt-text: #ffffff;
$main-background: #ffffff;
$alt-background: #f2f2f2;
$border-color: #ebebeb;
$hover-btn: #5eaa2f;
$alt-hover-btn: #ebebeb;

/* Шрифты */

$header-font: "Oswald", "Arial", sans-serif;
$desc-font: "Arial", "Helvetica", sans-serif;

/* Размеры для адаптивных сеток */

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

/* Параметры для оптимизации графики */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
