/* Цвета */

$main-color: #FF7931;
$text-color: #000000;
$alt-text: #ffffff;
$important-text: #FF7931;
$main-background: #ffffff;
$alt-background: #F7F7F7;
$border-color: #FF9A64;
$hover-btn: #5eaa2f;
$alt-hover-btn: #ebebeb;

/* Шрифты */

$header-font: "Oswald", "Arial", sans-serif;
$desc-font: "Arial", "Helvetica", sans-serif;

/* Размеры для адаптивных сеток */

$grid-breakpoints: (
  xs: 0,
  sm: 320px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

/* Параметры для оптимизации графики */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
